@font-face {
    font-family: bulletTrain;
    src: url(../fonts/bullettrain.TTF)
}

body {
    background-image: url(https://i.pinimg.com/originals/9d/9c/24/9d9c24c90f7326eb0b7e1c7f038afa1c.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}
.container{
    margin: 20px;
}
.jumbotron {
    letter-spacing: .45em;
    border: 1px solid rgb(6, 77, 77);
    opacity: .60;
    font-family: bulletTrain;
    font-weight: 1000;
}

a {
    color : rgb(5, 8, 8);
    text-decoration: none;    
}
.card{
    border : solid;
    border-radius: 10px;
    box-shadow: 0 7px 6px -6px;
}
#trainTable, #form-input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: .75;
    color: black
}
.thead-default{
    background-color : lightgrey; 
}
.tableBody{
    height : 100px;
    overflow : auto;
}
.panel, .card-heading {
    padding-left : 10px;
    background-color : lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .45em;
}
.form-control, .tableRow {
    box-shadow : inset 1px 0 10px;
}
.btn{
    background-color : rgb(0, 255, 221);
    cursor: pointer;
    width : 100%;
    opacity : 0.79;
    border : none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .45em;
    box-shadow: 0 8px 6px -6px grey;
}
.btn:hover{
    opacity: 1;
}